.atb-RepoBrowser {
    width: 100%;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

.atb-RepoBrowser-inner {
    width: 400%;
}

.atb-RepoBrowser-repositories, .atb-RepoBrowser-collections, .atb-RepoBrowser-manuscripts, .atb-RepoBrowser-folia {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    float: left;
    
    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none; 
}

.atb-RepoBrowser-repositories {
    
}

.atb-RepoBrowser-collections {
    
}

.atb-RepoBrowser-manuscripts {
    
}

.atb-RepoBrowser-folia {
    text-align: center;
}


.atb-RepoBrowser .atb-BreadCrumbs {
    
}

.atb-RepositoryBrowserItem {
    font-size: 15px;
    border-bottom: 1px solid #E8EBED;
    cursor: pointer;
    padding: 10px;
    padding-right: 26px;
    
    background-image: url("../../img/right-arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    
    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none; 
}

.atb-RepositoryBrowserItem-title {
    -moz-user-select: text;  
    -webkit-user-select: text;  
    -ms-user-select: text;
}

.atb-RepositoryBrowserItem-title-temp {
    color: #E8EBED;
}

.atb-RepositoryBrowserThumbnail {
    display: inline-block;
    vertical-align: top;
    
    background-image: none;
    
    width: 125px;
    height: 125px;
    
    padding: 5px;
    margin: 5px;
    
    border: 1px solid #E8EBED;
    background-color: #FFFFFF;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    overflow: hidden;
}

.atb-RepositoryBrowserThumbnail-inner {
    display: block;
}

.atb-RepositoryBrowserThumbnail .atb-RepositoryBrowserItem-title {
    text-align: center;
}

.atb-RepositoryBrowserThumbnail-loadingSpinner {
    width: 100px;
    height: 100px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-image: url("../../img/large_loading_spinner.gif");
    background-position: center center;
    background-repeat: no-repeat;
    
    text-align: center;
    vertical-align: middle;
}

.atb-RepositoryBrowserThumbnail-loadingSpinner img {
    margin: auto;
    
    vertical-align: middle;
    text-align: center;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.atb-RepositoryBrowserThumbnail-errorIcon {
    background-image: url("../../img/network-error.png");
    background-position: center center;
    background-repeat: no-repeat;
}