/* Digital MappaeMundi skin */

body {
    background-color: #575757;
    font-family: Helvetica, sans-serif;
	font-size: 14px;
}

.header {
	background-image:url(../../../img/themes/digital-mappaemundi/headerbg.jpg);
	height: 48px;
    width: 100%;
}

.wrapper {
	margin: 0 auto;
    width: 960px;
}

.logo {
    background-image: url(../../../img/themes/digital-mappaemundi/logo.png);
    float: left;
	height: 48px;
	margin-left: 0px;
    width: 266px;
}

.homebutton {
    background-image: url(../../../img/themes/digital-mappaemundi/homebutton.jpg);
    float: left;
    height: 48px;
    width: 89px;
}

.separator {
    background-image: url(../../../img/themes/digital-mappaemundi/separator.jpg);
    float: left;
    height: 48px;
    width: 1px;
}

.tutorialbutton {
    background-image: url(../../../img/themes/digital-mappaemundi/tutorialbutton.jpg);
    float: left;
    height: 48px;
    width: 83px;
}

.logininfo {
    color: #FFFFFF;
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: .7em;
    height: 48px;
    line-height:53px;
    text-align: center;
    width: 300px;
}

.searchholder {
    background: url(../../../img/themes/digital-mappaemundi/searchbar.jpg) no-repeat;
    float: left;
    height: 48px;
    width: 206px;
}

.textInput {
	width: 157px;
	height: 22px;
	background: none;
	border: none;
	margin-top: 11px;
	margin-left: 37px;
	color: #FFFFFF;
}

.tutorialbutton:hover, .tutorialbutton:focus {
	background-image: url(../../../img/themes/digital-mappaemundi/tutorialbuttonhover.jpg);
}

.homebutton:hover, .homebutton:focus {
	background-image: url(../../../img/themes/digital-mappaemundi/homebuttonhover.jpg);
}

/*Properties for the main content area*/

.wrapper2 {
    margin: 0 auto;
    width: 960px;
}

.container1 {
    float: left;
    position:relative;
	width: 50%;
    margin: 0;
}

.container2 {
    float: right;
    position:relative;
	width: 50%;
}

/*Properties for viewport sample 1*/

.viewport1 {
    background-color: #FFFFFF;
    display: block;
    float: right;
    height: 478px;
    margin-top: 0px;
    margin-right: 4px;
    width: 476px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-moz-box-shadow: 10px 10px 15px #1F1F1F;
	-webkit-box-shadow: 10px 10px 15px #1F1F1F;
	box-shadow:10px 10px 15px #1F1F1F;
}

.viewport2 {
	float: left;
	height: 478px;
	width: 478px;
	background-color: #FFFFFF;
	margin-top: 0;
	display: block;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-box-shadow: 10px 10px 15px #1F1F1F;
	-webkit-box-shadow: 10px 10px 15px #1F1F1F;
	box-shadow:10px 10px 15px #1F1F1F;
}

.vpheader {
	z-index:-10;
	position: relative;
	word-wrap:break-word;
    text-overflow: ellipsis;
	max-width:400px;
	background-color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 22px;
	display:inline-block;
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-box-shadow: 10px 10px 15px #1F1F1F;
	-webkit-box-shadow: 10px 10px 15px #1F1F1F;
	box-shadow:10px 10px 15px #1F1F1F;
}

/*Properties for viewport sample 2*/

.viewport3 {
	float: right;
	height: 478px;
	width: 476px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 4px;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 15px #1F1F1F;
	-webkit-box-shadow: 10px 10px 15px #1F1F1F;
	box-shadow:10px 10px 15px #1F1F1F;
}

.viewport4 {
	float: left;
	height: 478px;
	width: 476px;
	background-color: #FFFFFF;
	margin-top: 0px;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 15px #1F1F1F;
	-webkit-box-shadow: 10px 10px 15px #1F1F1F;
	box-shadow:10px 10px 15px #1F1F1F;
}


.vpheader2 {
	position: relative;
	word-wrap:break-word;
	max-width:400px;
	margin-top: 22px;
	margin-bottom: 3px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	display:inline-block;
	/*padding: 10px;*/
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
    z-index: 1222;
    height: 19px;
    overflow: hidden;
}

.vpheader2 input {
    width: 400px;
    font: inherit;
    background-color: transparent;
    color: #FAF189;
    text-shadow: 1px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
    margin: 0px;
    padding: 0px;
    border: none;
}

/*Footer properties*/

.footer {
	background-color: #262626;
	width: 100%;
	height: 48px;
	display: inline-block;
	margin-top: 10px;
	background-image:url(../../../img/themes/digital-mappaemundi/headerbg.jpg);
	line-height: 53px;
	text-align: center;
	font-size: .7em;
	color: #FFFFFF;
	font-family: Helvetica, sans-serif;
	clear: both;
}

.aboutbutton {
	width: 65px;
	height: 48px;
	background-image: url(../../../img/themes/digital-mappaemundi/aboutbutton.jpg);
	display: inline-block;
}

.contactbutton {
	width: 71px;
	height: 48px;
	background-image: url(../../../img/themes/digital-mappaemundi/contactbutton.jpg);
	display: inline-block;
}

.creditsbutton {
	width: 72px;
	height: 48px;
	background-image: url(../../../img/themes/digital-mappaemundi/creditsbutton.jpg);
	display: inline-block;
}

.footersep {
	width: 1px;
	height: 48px;
	background-image: url(../../../img/themes/digital-mappaemundi/separator.jpg);
	display: inline-block;
}

.push {
    height: 60px;
    clear: both;
}

/*Footer link properties*/

.aboutbutton:hover, .aboutbutton:focus {
	background-image: url(../../../img/themes/digital-mappaemundi/aboutbuttonhover.jpg);
}

.contactbutton:hover, .contactbutton:focus {
	background-image: url(../../../img/themes/digital-mappaemundi/contactbuttonhover.jpg);
}

.creditsbutton:hover, .creditsbutton:focus {
	background-image: url(../../../img/themes/digital-mappaemundi/creditsbuttonhover.jpg);
}

/*General link properties*/

a:link {
	text-decoration: none;
	color: #a60000;
}

a:hover {
	color: #e90000;
}

a:visited {
	color: #0071a6;
}

.atb-resourceviewer {
    height: 520px;
}

.fullPageMessage {
    align: center;
    position: relative;
    margin-left: 10%;
    width: 80%;
    top: 40px;
    height: 480px;
    font-size: 20px;
    color: #FFFFFF;
}