#working copy specific files
workspace/static/js/closure-library/*
static/js/closure-library/*
settings_local.py

#python specific
*.pyc
 
## generic files to ignore
*~
\#*#
*.lock
*.DS_Store
*.swp
*.out

