#python specific
*.pyc

## generic files to ignore
*~
\#*#
\.#
*\.\#*
*.DS_Store
*.swp
*.out

# Provisioning
provisioning/roles/*.*
# Vagrant
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# Maven builds
target/

# NPM/ Node
node_modules/

dm.conf
dm.sh
