#working copy specific files
workspace/static/js/closure-library/*
settings_local.py
runserver
collectstatic

#deployment specific files
django.wsgi

static/*

#python specific
*.pyc
 
## generic files to ignore
*~
\#*#
\.#
*\.\#*
*.lock
*.DS_Store
*.swp
*.out


workspace/static/js/closure-library/

manage_command_examples_local.sh

# locally saved data exported from old version
output/*
*backup.sql

# prevent user-uploaded images from being stored in repo
media/user_images/uploaded_images/*

# python executables created by virtualenv
bin
lib
include
.Python