# TODO: The version listed below are the ones that are currently functional in staging and production. We need to figure out which libraries need the explicit versions and remove the version numbers where possible.

django==1.5.4
south==0.8.2
django-haystack==2.3.1
pysolr==3.2.0
rdflib==4.1.0

git+https://github.com/RDFLib/rdflib-sqlalchemy.git
# rdflib-sqlalchemy (0.2.dev)

beautifulsoup4==4.3.2
gunicorn==19.1.1
html5lib==0.95
isodate==0.5.0
MySQL-python==1.2.5
Pillow==2.6.1
pip==1.5.4
pyparsing==2.0.3
requests==2.2.1
six==1.8.0
SPARQLWrapper==1.5.2
SQLAlchemy==0.9.4
wsgiref==0.1.2