auth {
    oauth {
        google {
            key = "{{ google_key }}"
            secret = "{{ google_secret }}"
        }
        github {
            key = "{{ github_key }}"
            secret = "{{ github_secret }}"
        }
        performant {
            uri = "{{ doorkeeper_provider_base_url }}"
            key = "{{ doorkeeper_provider_key }}"
            secret = "{{ doorkeeper_provider_secret }}"
        }
    }
}
superuser {
    id = "{{ superuser_id }}"
}
hide {
    uris = ""
}
