<html>
    <head>
        <title>Add Images to Project</title>
    </head>

    <body>
        <p> Select an image to add to project:</p>
        <form action="{% url "upload_image" %}" method="post" enctype="multipart/form-data">
            <!-- <select>
                {% for image in pub_form.image_choices %}
                    <option value='{{ image.ident }}'>{{ image.ident }}</option>
                {% endfor %}
            </select> -->

            {{ pub_form.image_choices }} 
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body> 

</html>