<html>
    <head>
        <title>Upload New Images</title>   
    </head>
    <body>
    <p><a href="/workspace/add_image/">Click here to add image to a project.</a></p>
    <!-- List of uploaded images -->
    <p>My Uploaded Images</p>
    <ul>
        {% if my_images %}
            {% for image in my_images %}
                <li><a href="{{ image.imagefile.url }}">{{ image.imagefile.name|slice:slice_cmd }}</a>
                    {% if image.isPublic %}
                    <i> public</i>
                    {% endif %}
                 </li>
            {% endfor %}
        {% else %}
            <li>You have not uploaded any images yet.</li>
        {% endif %}
    </ul>

    <p>Public Images</p>
    <ul>
        {% if pub_images %}
            {% for image in pub_images %}
                <li><a href="{{ image.imagefile.url }}">{{ image.imagefile.name|slice:slice_cmd }}</a>
                    owned by {{ image.owner.username }}</li>
            {% endfor %}
        {% else %}
            <li> There are no publically uploaded images.</p>
        {% endif %}
    </ul>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload_image" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.imagefile.label_tag }} {{ form.imagefile.help_text }}</p>
            <p>
                {{ form.imagefile.errors }}
                {{ form.imagefile }}
            </p>
            <p>{{ form.public }} {{ form.public.label }}</p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>
