.sc-ProjectViewer-button .dropdown-menu li {
   color: black
}
.sc-ProjectViewer-button .dropdown-menu li [class^="icon-"] {
   padding-right: 3px
}
.sc-ProjectViewer-modal a, .sc-ProjectViewer-modal a:hover, .sc-ProjectViewer-modal a:active, .sc-ProjectViewer-modal a:visited {
   color: #08c
}
.sc-ProjectViewer-modal .modal-header .nav {
   margin-bottom: 0
}
.sc-ProjectViewer-modal .modal-header .nav .caret {
   margin-left: 3px
}
.sc-ProjectViewer-modal .modal-header .nav [class^="icon-"] {
   padding-right: 3px
}
.sc-ProjectViewer-modal .sc-ProjectViewer-usernameInput {
   width: 170px
}
.sc-ProjectViewer-modal .sc-ProjectViewer-permissions-table [class^="icon-"] {
   padding-right: 3px
}
.sc-ProjectViewer-projectLabel {
   display: none;
   color: #666
}
.sc-ProjectViewer-projectButtonTitle {
   display: inline-block;
   margin-left: 3px;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 350px;
   vertical-align: bottom
}


#del-project {
   float: left;
}


#del-project.disabled {
   opacity: 0.5;
}

div.panel.panel-default.pub-access {
  border: 1px solid #ddd;
  margin: 10px 0;
  border-radius: 4px;
  padding: 4px;
}

.sc-ProjectViewer-projectEdit .disabled {
   opacity: 0.3;
}

.pub-access div.checkbox {
   margin:5px;
}

.control-group.pub-url-group {
     margin: 10px 0 0 5px;
}

.control-group.pub-url-group label {
   font-weight: bold;
}

.control-group.pub-url-group p {
  margin: 5px 5px 5px 20px;
}

div.pub-access .hidden {
   display: none;
}
   
.add-user {
    position: relative;
}
