<!DOCTYPE html>
<html>
   <head>
      <title>DM Workspace</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
   </head>
   <body style="background: #575757; padding: 0; margin:0;font-family: Helvetica,sans-serif;">
      <div style="background-color: black; height: 41px;">
         <p style="  margin: 0;color: white;font-size: 1.5em; padding: 8px 10px; font-weight: 100;">
            DM
         </p>
      </div>

      <div>
         <p style="background: white;   width: 30%;
                     margin: 5% auto;
                     padding: 20px 15px;
                     font-size: 1.5em;
                     font-weight: 100;
                     text-align: center;
                     border-radius: 5px;
                     border: 2px solid black;">
            Sorry!
            <br/>
            The project you are looking for is not currently available.
         </p>
      </div>
   </body>
</html>
