{% extends "fluid_workspace/base.html" %}
{% load static from staticfiles %}

{% block head_css %}
<style>
  .row-fluid #noMargin {
      margin-left:0;
  }

  .tool-line {
      position:fixed;
      text-align: center;
      top: 56px;
  }

  #grid {
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
  }

  .modal-body .sc-RepoBrowser, .modal-body .atb-WorkingResources {
    height: 400px;
  }
  </style>
{% endblock %}

{% block head_scripts %}
{% include "fluid_workspace/ui_scripts.html" %}
<script
   src="{% static 'js/dm/fluid_workspace.js' %}"
   type="text/javascript">
</script>
{% endblock %}

{% block header_buttons %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      switch project
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" id="projects">
    </ul>
  </li>
  <li id="new_text_button"><a href="#" role="button">new text document</a></li>
  <li id="my_resources_button"><a href="#workingResourcesModal" role="button" data-toggle="modal">my resources</a></li>
  <li id="repositories_button"><a href="#repoBrowserModal" role="button" data-toggle="modal">repositories</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      layout
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li id="1x1_layout_button"><a href="#">1x1</a></li>
      <li id="1x2_layout_button"><a href="#">1x2</a></li>
      <li id="1x3_layout_button"><a href="#">1x3</a></li>
      <li id="2x2_layout_button"><a href="#">2x2</a></li>
      <li id="2x3_layout_button"><a href="#">2x3</a></li>
      <li id="3x3_layout_button"><a href="#">3x3</a></li>
      <li id="3x4_layout_button"><a href="#">3x4</a></li>
      <li id="4x4_layout_button"><a href="#">4x4</a></li>
    </ul>
  </li>

{% endblock %}

{% block page_content %}
<div>
  <div id="grid">

  </div>
</div>

<!-- Repo Browser Modal -->
<div id="repoBrowserModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Repositories</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Done</button>
  </div>
</div>

<!-- Working Resources Modal -->
<div id="workingResourcesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">My Resources</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Done</button>
  </div>
</div>

<!-- New Project Modal -->
<div class="modal hide fade" id="newProjectModal">

  <div class="modal-header">
    <!--close "button" on top right of modal-->
    <a class="close" data-dismiss="modal">x</a>

    <h3>New Project Creation</h3>
  </div>

  <div class="modal-body">
    <!--New Project Form-->
    <form>
      <fieldset>  
        <!--Title area-->
        <!--limit title length?-->
        <label id="titleLabel">Title:</label>
        <input type="text" id="newTitle">
        
        <!--Description area in long block form-->
        <label>Description:</label>
        <p class="help-block">Please enter a brief description of your new project. (Optional)</p>
        <textarea rows="3" id="newDescription"></textarea>
        
        <label>Add Users:</label>
        <p class="help-block">Type a username, and then hit shift+enter to add that user to your project. If you want to remove a user, click on the username.</p>

        <!--This block is specifically for displaying the added users
            It will NOT display until a user is added/tagged-->
        <p class="help-block" id="newAddedUsers"></p>

        <input type="text" id="newUsers" data-provide="typeahead">
        <!--use data-source to specify usernames above-->

        <span class="help-block" id="newHelp"></span>
      </fieldset>
    </form>
  </div>

  <!--The footer holds the create/cancel buttons at the bottom of the modal.
      Cancel only closes the modal, it does not delete the data in the modal.-->
  <div class="modal-footer">
    <a href="#newProjectModal" class="btn" data-toggle="modal">Cancel</a>
    <a href="#newProjectModal" onclick="sendNewData()" class="btn btn-primary" data-toggle="modal" id="create">Create New Project</a>
  </div>
</div>

<!-- Edit project modal -->
<div class="modal hide fade" id="editProjectModal">
  <div class="modal-header">
    <!--close "button" on top right of modal-->
    <a class="close" data-dismiss="modal">x</a>
    <h3>Edit Project</h3>
  </div>

  <div class="modal-body">
    <!--Edit Project Form-->
    <form>
      <fieldset>  
        <!--Title area-->
        <label>Title:</label>
        <input type="text" id="editTitle">
        
        <!--Description area in long block form-->
        <label>Description:</label>
        <p class="help-block">Please enter a brief description of your project. (Optional)</p>
        <textarea rows="3" id="editDescription"></textarea>
        
        <label>Add Users:</label>
        <p class="help-block">Type a username, and then hit shift+enter to add that user to your project. If you want to remove a user, click on the username.</p>

        <!--This block is specifically for displaying the added users
            It will NOT display until a user is added/tagged-->
        <p class="help-block" id="editAddedUsers"></p>

        <input type="text" id="editUsers" data-provide="typeahead">
        <!--use data-source to specify usernames above-->

        <span class="help-block" id="editHelp"></span>
      </fieldset>
    </form>
  </div>


  <div class="modal-footer">
    <a href="#editProjectModal" class="btn" data-toggle="modal" onlick="prepareForEdit()">Discard changes</a>
    <a href="#editProjectModal" class="btn btn-primary" onclick="updateEditedData()" data-toggle="modal">Save changes</a>
  </div>
</div>
{% endblock %}

{% block init_scripts %}
<script type="text/javascript" >
  var usernames = {{ js_users|safe }};
  var usr = $("#newUsers");

  // User "tagging" system abstracted to fluid_workspace.js
  newUserTagSystem(usr, usernames);

  usr = $("#editUsers")
  editUserTagSystem(usr, usernames);

  // Workspace setup code
  var staticUrl = "{{ STATIC_URL }}";
  var styleRoot = "{{ STATIC_URL }}css/";
  var wsURI = "{{ WEBSERVICE_URI }}";
  var mediawsURI = "{{ MEDIA_WEBSERVICE_URI }}";
  var wsSameOriginURI = "/";

  initWorkspace(wsURI, mediawsURI, wsSameOriginURI, "{{ user.username }}", 
                styleRoot, staticUrl);
  
  // Add project titles to project dropdown
  setupProjects();

  $("#new_text_button").click(function(e) {
    openBlankTextDocument();
  });


  // Begin script for layout selection
  $("#1x1_layout_button").click(function(){
    viewerGrid.setDimensions(1,1);
  })

  $("#1x2_layout_button").click(function(){
    viewerGrid.setDimensions(1,2);
  })

  $("#1x3_layout_button").click(function(){
    viewerGrid.setDimensions(1,3);
  })

  $("#2x2_layout_button").click(function(){
    viewerGrid.setDimensions(2,2);
  })

  $("#2x3_layout_button").click(function(){
    viewerGrid.setDimensions(2,3);
  })

  $("#3x3_layout_button").click(function(){
    viewerGrid.setDimensions(3,3);
  })

  $("#3x4_layout_button").click(function(){
    viewerGrid.setDimensions(3,4);
  })

  $("#4x4_layout_button").click(function(){
    viewerGrid.setDimensions(4,4);
  })
  // End script for layout selection


</script>
{% endblock %}
