import os
import sys

SECRET_KEY = 'MJ$Q"_[Yd#/c|uv|$%r()U&@p2@F,&Q/E"5_x6\\=6[x^Pi.:C|'

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'dm',
        'USER': 'dm',
        'PASSWORD': 'dm',
        'HOST': '',
        'PORT': '',
        'OPTIONS': {}
    },
}

RDFLIB_DB_URI = 'mysql://dm:dm@localhost/dm'

FOUR_STORE_URIS = {
    'SPARQL': 'http://localhost:9000/sparql/',
    'UPDATE': 'http://localhost:9000/update/',
}

DIRNAME = os.path.dirname(__file__)

BASE_URL = "/"

MEDIA_ROOT = os.path.join(DIRNAME, 'media/')

MEDIA_URL = BASE_URL + 'media/'

STATIC_ROOT = os.path.join(DIRNAME, 'static')

# This must be an absolute url
STATIC_URL = BASE_URL + 'static/'

# uncomment if you decide to use francescortiz/image
#IMAGE_CACHE_ROOT = os.path.join(DIRNAME, 'image_cache')

# Additional locations of static files
STATICFILES_DIRS = (
)

TEMPLATE_DIRS = (
    os.path.join(DIRNAME, 'templates'),
)

ADMINS = (
    ('Gregor Middell', 'gregor@middell.net'),
)

MANAGERS = ADMINS

SITE_ID = 1

SITE_ATTRIBUTES = {
    'hostname': 'dm.local:8000'
}

STORE_HOST = 'localhost:9000'

LOGIN_REDIRECT_URL = '/'

# uncomment if you decide to use francescortiz
#IMAGE_DEFAULT_FORMAT='JPEG'
#IMAGE_DEFAULT_QUALITY=100

HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.simple_backend.SimpleEngine',
        'INCLUDE_SPELLING': True
    },
}

MAX_IMAGE_UPLOAD_FILE_SIZE = 1024*1024*30 #30 MB