.atb_viewer_annoitemviewer {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666; /* Firefox */
    -webkit-box-shadow: 2px 2px 3px #666666; /* Safari and Chrome */
/*    
    border-radius: 25px;
    -moz-border-radius:25px; // Firefox 3.6 and earlier
    -webkit-border-radius:25px; // Safari 
*/
}

.atb_viewer_annoitemviewer_img {
    position: absolute;
    width: 150px;
    left: 2px;
    top: 2px;
}





