.dm-homepage-content {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.dm-homepage-content h2 {
    letter-spacing: 1px;
    
    padding-top: 0px;
    padding-bottom: 5px;
}

.dm-homepage-content h3 {
    letter-spacing: 1px;
    
    padding-top: 5px;
    padding-bottom: 0px;
}

.dm-homepage-content p {
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 25px;
}

.dm-homepage-section {
    
}

.dm-homepage-navBar {
    width: auto;
    margin-bottom: 15px;
    margin-top: -7px;
    margin-left: -7px;
    margin-right: -7px;
    
    font-size: 17px;
    letter-spacing: 3px;
    font-weight: bold;
    
    background-color: gray;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.dm-homepage-navBar ul {
    list-style-type:none;
    margin:0;
    padding:0;
    text-align: center;
}

.dm-homepage-navBar li {
    display: inline-block;
}

.dm-homepage-navBar li a {
    text-align: center;
    padding: 15px;
    display: block;
    
    color: white;
}

.dm-homepage-navBar li a:hover {
    color: white;
    text-decoration: underline;
}

.dm-homepage-navBar-currentPage a {
    color: #A60000 !important;
}

.dm-homepage-navBar-currentPage a:hover {
    color: #A60000 !important;
    text-decoration: none !important;
}

.centeredDiv {
    margin-left: auto;
    margin-right: auto;
    
    width: auto;
}

.dm-documentationScreenshot {
    border: none;
    padding: 10px;
    
    float: left;
}

.dm-inlineIcon {
    vertical-align: text-bottom;
}