{% extends "workspace/base_new.html" %}
{% block page_content %}
<div class="container page-content">
  <div class="row">
    <div class="span3"></div>
    <div class="span4">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="input-project-name">Title</label>
          <div class="controls">
            <input type="text" id="input-project-name" 
                   placeholder="Project title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-project-name">Description</label>
          <div class="controls">
            <textarea rows="5" id="input-project-description" 
                      placeholder="Type a brief description here.">
            </textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-sharing">Collaborators</label>
          <div class="controls">
            <input type="text" id="input-project-collaborators" 
                   placeholder="Project collaborators">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Create</button>
          </div>
        </div>
      </form>
    </div>
    <div class="span5"></div>
  </div>
</div>
{% endblock %}
