.atb_viewer_annodetailsviewer {
    position: absolute;
    width: 530px;
    height: 320px;
    background-color: #ffffff;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // first!
	filter: alpha(opacity=100);
    text-align: left;
    border: 1px solid #bfbfbf;
    box-shadow: 5px 5px 8px #666666;
    -moz-box-shadow: 5px 5px 8px #666666; /* Firefox */
    -webkit-box-shadow: 5px 5px 8px #666666; /* Safari and Chrome */
/*    
    border-radius: 25px;
    -moz-border-radius:25px; // Firefox 3.6 and earlier
    -webkit-border-radius:25px; // Safari 
*/
}

.atb_viewer_annodetailsviewer_img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300;
    height: 300;
}


.atb_viewer_annodetailsviewer_text {
    position: absolute;
    left: 320px;
    top: 10px;
    width: 200px;
 }

.atb_viewer_annodetailsviewer_title {
    position: absolute;
    font-weight: bold;
}

.atb_viewer_annodetailsviewer_body {
    position: absolute;
    top: 40px;
}



