/* Default skin */

body {
    background: #CCC;
    color: #000;
    font-family: "Arial", sans-serif;
	font-size: 14px;
    padding: 0 0 50px 0;
    margin: 0;
}

.pageHeader, .pageFooter {
    background: #EEE;
    float: left;
    height: 70px;
    width: 100%;
    clear: both;
    position: relative;
}

.pageHeader {
    margin-bottom: 30px;
    border-bottom: 3px solid #333;
}


.pageFooter {
    margin-top: 30px;
    border-top: 3px solid #333;    
}

.pageHeaderSearch {
    position: absolute;
    right: 20px;
    top: 25px;
}

.pageContent {
    width: 100%;
    float: left;
    clear: both;
}

.atb-wrapper {
    position: relative;
    background: #333;
    color: #000;
    min-height: 615px;
    padding: 2px 1px;
}

.atb-wrapper-inner {
    margin: 1px;
    background: #FFF;
    color: #000;
    min-height: 572px;
}

.atb-wrapper-two-col {
    margin: 0 auto;
    width: 90%;
}

.atb-wrapper-container {
    position: relative;
    float: left;
}

.atb-wrapper-two-col .atb-wrapper-container {
    width: 50%;
    margin: 0;
    /* TODO: we need this to be auto height eventually */
}

.atb-wrapper-heading {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    min-height: 20px;
    background: #333;
    color: #FFF;
    border-bottom: 2px solid #333;
}

.atb-resourceviewer {
    height: 520px;
}

.debugViewer {
    display: none;
    position: absolute;
    top: 100%;
    left: 55%;
}

.debugConsole {
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
}



