.atb-annoTitlesList {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 33px;
  box-sizing: border-box;
}

.atb-annoTitlesList-scroller {
    overflow-y: scroll;
    height: 100%;
    background-color: #FFFFFF;
}

.atb-annoTitlesList-scoller ul {

}

.atb-annoTitlesList-scroller ul li {
    padding: 3px;
}

.atb-annoTitlesList-noAnnosMessage, .atb-annoTitlesList-loadingMessage {
    color: #C4C4C4;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    width: auto;
    margin-top: 36px; /* 100px scroller height / 2 - font-size*/
}

@-webkit-keyframes pulse-opacity {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}

.atb-annoTitlesList-loadingMessage {
    color: #757575;

    -webkit-animation-name: pulse-opacity;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
}

.atb-annoTitlesList .atb-resourcesummary-title {
    font-size: 1em;
}

.atb-annoTitlesList .atb-resourcesummary-user {
    display: none;
}

.atb-annoTitlesList-bodyTitles, .atb-annoTitlesList-targetTitles {
    padding-top: 5px;
    /*padding-bottom: 5px;*/
}

.atb-annoTitlesList-header {
    color: #757575;
    font-size: 14px;
    padding-left: 3px;
}

.atb-annoTitlesList-hrDiv {
    /*border-bottom: 1px solid #E8E8E8;*/
    width: auto;
    height: 1px;
    margin: 10px;
}
