.atb-BreadCrumbs {
    overflow-x: auto;
    
    padding: 5px;
    
    background-color: #fafafa;
    background: #fafafa url("../../img/toolbar-bg-horz.png") bottom left repeat-x;
}

.atb-BreadCrumbs-arrow {
    color: black;
    
    display: inline;
    
    padding-left: 3px;
    padding-right: 3px;
}

.atb-BreadCrumbs-item {
    cursor: pointer;
    color: black;
    
    display: inline;
}

.atb-BreadCrumbs-currentItem {
    cursor: auto;
    color: black;
}