.atb-clientapp-controls {
    
}

.atb-clientapp-controls .goog-custom-button {
    
}

.atb-clientapp-controls-timeline {
    width: 24px;
    height: 24px;
    
    background-image: url("../../img/icons-24x24-sprite.png");
    background-position: -600px 0;
    background-repeat: no-repeat;
    
    z-index: 50002;
}