/* Editor Frame styles - These styles apply only to inside the editor iframe */

.atb-editor-textannotation {
  outline: 1px solid #ca0;
  background: #ffa;
  padding: 0 2px;
  margin: 0 1px;
}
.atb-editor-textannotation.no-highlight {
  outline: none;
  background: transparent;
  padding: initial;
  margin: initial;
}

p.p1 {
	margin-top: 1px;
}

.atb-editor-textannotation:empty {
    border: none;
}

.atb-editor-textannotation-hover {
    background: #FF0;
    outline: 1px solid red;
}

.atb-editor-textannotation-selected {
    background: #9bd;
    outline: 1px solid #007;
}

p {
    margin-top:0;
    margin-bottom:0;
    margin-right:0;
    margin-left:0;
}
