.atb-viewer-documentIcon {
    background: url("../../img/icons-24x24-sprite.png") no-repeat scroll -384px 0 transparent;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 3px;
    top: 6px;
    z-index: 1000;
    cursor: pointer;
}
.ro-editor{
	margin: 8px 0 0 8px;
	overflow-y: scroll;
   overflow-x: hidden;
}
.ro-editor.editable {
	margin:0;
}

.clone-header {
	  position: absolute;
  z-index: 100;
  top: 33px;
  font-weight: bold;
  color: #b00;
  right: 10px;
}

.ro-editor a, .ro-editor a:active, .ro-editor a:visited, .ro-editor a:hover{
	color: #04c;
	text-decoration: underline;
}

.ro-editor a:hover{
   color: #08c;
   text-decoration: underline;
}

.sc-CanvasViewer .lock-message  {
   top: 38px;	
}

.editor-status {
	position:absolute;
	bottom:0;
	margin:0;
	left: 0;
   right: 0;
   border-top: 1px solid #ccc;
   background-color: #f0f0f0;
   padding: 2px 5px 1px 5px;
}
.lock-message {
   position: absolute;
  right: 0px;
  top: 37px;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0 0 0 8px;
  background-color: #f0f0f0;
  color: #777;
  font-size: 0.9em;
  padding: 2px 10px;
  border-right: 0;
  display:none;
}
.lock-for-edit-icon {
   background: url("../../img/edit2.png") no-repeat 0 0 transparent;   	
   height: 24px;
   width: 24px;
   position: absolute;
   right: 36px;
   top: 6px;
   z-index: 1000;
   cursor: pointer;
   border: 1px solid transparent;
}
.lock-for-edit-icon.checked {
    background-color: #dfd;
  border: 1px solid #090;
  border-radius: 3px;	
}
.lock-for-edit-icon.locked {
  opacity: 0.3;
  cursor: default;
}

.text-editor-toolbar {
  border-top: 1px solid #ccc;	
}

.text-editor-toolbar .goog-toolbar {
	border-bottom: 1px solid #ddd;
	height: 32px;
}
.editor-status.goog-toolbar.goog-toolbar-horizontal {
      height: auto;	
}

.atb-viewer-documentIcon:hover {
 background-position-x: -576px;  	
}

.text-edit-load-status {
   position: absolute;
   left: 0;
   right: 0;
   text-align: center;
   top: 20%;
   font-size: 1.5em;
   color: #777;
}

.atb-viewer-documentIconHighlight {    
   background-position-x: -576px;
}

.atb-viewer-documentIcon-noScrollbars {
    right: 5px;
}

.atb-hoverMenu {
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border: 1px solid #777;
    border-radius: 8px 8px 0 0;
    z-index: 100000;
}

.atb-hoverMenu .goog-toolbar {
    min-height: 16px;
    background: #ccc;
    border-bottom: 1px solid #999;
    border-radius: 8px 8px 0 0;
}

.atb-hoverMenu-closeButton {
    background: url("../../img/icons-16x16-sprite.png") -800px 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.atb-hoverMenu-calloutTriangle {
    z-index: -1;

    width: 16px;
    height: 16px;
    position: absolute;
    
    background-color: transparent;
    background: url("../../img/icons-16x16-sprite.png") -784px 0 no-repeat;
}