<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}DM - Annotation and Linking Tools{% endblock %}</title>
    
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 

    <link rel="stylesheet" 
          href="{{ STATIC_URL }}css/dev-libraries.css" 
          type="text/css" />
    <link rel="stylesheet" 
          href="{{ STATIC_URL }}css/dev-atb.css" 
          type="text/css" />
    <link rel="stylesheet" 
          href="{{ STATIC_URL }}css/themes/dark/theme.css" 
          type="text/css" />

    {% block styles %}{% endblock %}

    {% block scripts %}{% endblock %}

  </head>
  <body>
    <div class="pageHeader">
      <a href="/"><div class="pageHeaderLogo"></div></a>
      <div class="pageHeaderLoginInfo">
        {% if user.username %}
        You are signed in as <a href="#">{{ user.username }}</a>
        &nbsp;&nbsp;
        <a href="{% url accounts_sign_out %}?username={{ user.username }}">Sign out</a>
        {% else %}
        <a href="{% url accounts_sign_in %}?username={{ username }}">Sign in</a>
        {% endif %}
      </div>
      <div id="clientAppControls" class="clientAppControls">
      </div>
    </div>
    <div class="pageContent">
      {% block page_content %}{% endblock %}
    </div>
    <div class="pageFooter">
	  <a id="about" href="#">About</a>
	  <span class="pageFooterSep"></span>
	  <a href="#">Contact</a>
	  <span class="pageFooterSep"></span>
	  <a href="#">Credits</a>
    </div>
    {% block init_scripts %}{% endblock %}
  </body>
</html>
