{% extends "workspace/base.html" %}

{% load static from staticfiles %}
{% load url from future %}

{% block styles %}
<link rel="stylesheet" 
      type="text/css" 
      href="{% static 'css/dm/workspace.css' %}" />
{% endblock %}

{% block scripts %}
{% include "workspace/ui_scripts.html" %}

<script
   src="{% static 'js/atb/ui/WindowScaler.js' %}"
   type="text/javascript"></script>
<script
   src="{% static 'js/dm/workspace.js' %}"
   type="text/javascript"></script>
{% endblock %}

{% block page_content %}
<div class="atb-wrapper atb-wrapper-two-col">
  <div class="atb-wrapper-container">
    <div class="atb-wrapper-heading" id="leftTab">&nbsp;</div>
    <div class="atb-wrapper-inner" id="left"></div>
  </div>

  <div class="atb-wrapper-container">
    <div class="atb-wrapper-heading" id="rightTab"></div>
    <div class="atb-wrapper-inner" id="right"></div>
  </div>

</div>
<div id="atb-footer-controls"></div>
{% endblock %}

{% block init_scripts %}
<script type="text/javascript" >
  var staticUrl = "{{ STATIC_URL }}";
  var olImgPath = "{{ STATIC_URL }}js/openlayers/img/";
  var styleRoot = "{{ STATIC_URL }}css/";
  var wsURI = "{{ WEBSERVICE_URI }}";
  var mediawsURI = "{{ MEDIA_WEBSERVICE_URI }}";
  var wsSameOriginURI = "/"
  initWorkspace(wsURI, mediawsURI, wsSameOriginURI, "{{ user.username }}", styleRoot, olImgPath);
  windowScaler.scale();
</script>
{% endblock %}
