[loris.Loris]
tmp_dp = '/tmp/loris2/tmp' # r--
www_dp = '/var/www/loris2' # r-x
run_as_user = 'loris'
run_as_group = 'loris'
enable_caching = True
redirect_canonical_image_request = False
redirect_id_slash_to_info = True
max_size_above_full = 200

proxy_path='{{ loris_proxy_path }}'

[logging]
log_to = 'file'    # 'console'|'file'
log_level = 'DEBUG' # 'DEBUG'|'INFO'|'WARNING'|'ERROR'|'CRITICAL'
log_dir = '/var/log/loris2' # rw-
max_size = 5242880 # 5 MB
max_backups = 5
format = '%(asctime)s (%(name)s) [%(levelname)s]: %(message)s'

{{ loris_resolver_conf }}

[img.ImageCache]
cache_dp = '/var/cache/loris2' # rwx

[img_info.InfoCache]
cache_dp = '/var/cache/loris2' # rwx

[transforms]
dither_bitonal_images = False
target_formats = ['jpg','png','gif','webp']

    [[jpg]]
    impl = 'JPG_Transformer'

    [[tif]]
    impl = 'TIF_Transformer'

    [[png]]
    impl = 'PNG_Transformer'

    [[jp2]]
    src_format = 'jp2'
    impl = 'OPJ_JP2Transformer'
    tmp_dp = '/tmp/loris/tmp/jp2' # rwx
    opj_decompress = '/usr/bin/opj_decompress' # r-x
    opj_libs = '/usr/lib' # r--
    mkfifo = '/usr/bin/mkfifo' # r-x
    map_profile_to_srgb = True
    srgb_profile_fp = '/usr/share/color/icc/colord/sRGB.icc' # r--

