.user-select-none {
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none
}
.loadingSpinnerBackground {
   background-image: url("../../img/large_loading_spinner.gif");
   background-position: center center;
   background-repeat: no-repeat
}
.errorIconBackground {
   background-image: url("../../img/network-error.png");
   background-position: center center;
   background-repeat: no-repeat
}
.sc-CanvasViewport {
   position: relative
}
.sc-CanvasViewport-pointer {
   cursor: pointer;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none
}
.sc-CanvasViewport-drag {
   cursor: move;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none
}
.sc-CanvasViewport-draw {
   cursor: crosshair;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none
}
.sc-CanvasViewport-progress {
   cursor: progress !important;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none
}
.sc-CanvasToolbar .goog-toolbar-button {
   margin: 0 2px
}
.sc-CanvasToolbar .sc-CanvasToolbar-button {
   display: block
}
.sc-CanvasToolbar .sc-CanvasToolbar-drawCircleIcon {
   display: block;
   width: 14px;
   height: 14px;
   background-image: url("../../img/icons-14x14-sprite.png");
   background-position: 0 0;
   background-repeat: no-repeat
}
.sc-CanvasToolbar .sc-CanvasToolbar-drawLineIcon {
   display: block;
   width: 14px;
   height: 14px;
   background-image: url("../../img/icons-14x14-sprite.png");
   background-position: -14px 0;
   background-repeat: no-repeat
}
.sc-CanvasToolbar .sc-CanvasToolbar-drawPolygonIcon {
   display: block;
   width: 14px;
   height: 14px;
   background-image: url("../../img/icons-14x14-sprite.png");
   background-position: -28px 0;
   background-repeat: no-repeat
}
.sc-CanvasToolbar .sc-CanvasToolbar-drawBoxIcon {
   display: block;
   width: 14px;
   height: 14px;
   background-image: url("../../img/icons-14x14-sprite.png");
   background-position: -42px 0;
   background-repeat: no-repeat
}
.sc-CanvasViewer {
   position: relative;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none
}
.sc-CanvasViewer .sc-CanvasViewer-marquee {
   position: absolute;
   right: 4px;
   bottom: 4px;
   z-index: 1000;
   background-color: white;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer !important;
   border: 2px solid black;
   box-shadow: 0 0 5px black;
   border-radius: 2x;
}
.sc-canvas-ImageChoicePicker {
   position: relative;
   display: inline-block
}
.sc-canvas-ImageChoicePicker-images {
   position: absolute;
   z-index: 10000;
   background-color: #e5e5e5;
   background-image: url(../../img/toolbar-bg-horz.png);
   background-repeat: repeat-x;
   padding: 5px;
   max-height: 500;
   overflow: auto;
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   border-radius: 0 0 5px 5px
}
.sc-canvas-ImageChoicePicker-images img {
   display: block;
   cursor: pointer
}
.sc-CanvasViewer-zoomSlider {
   width: 8px;
   height: 90%;
   position: absolute;
   z-index: 100;
   top: 5%;
   left: 10px
}
.sc-CanvasViewer-zoomSlider .ui-slider-handle {
   width: 16px;
   height: 16px;
   left: -5px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   overflow: none;
   outline: 0;
   cursor: default;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 9px;
   line-height: 16px;
   text-align: center;
   text-decoration: none !important
}
.sc-canvas-PageChooser {
   position: relative;
   display: inline-block
}
.sc-canvas-PageChooser-pages {
   position: absolute;
   z-index: 10000;
   background-color: #e5e5e5;
   background-image: url(../../img/toolbar-bg-horz.png);
   background-repeat: repeat-x;
   padding: 5px;
   max-height: 500px;
   max-width: 300px;
   overflow: auto;
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   border-radius: 0 0 5px 5px;
   list-style: none;
   display: block
}
.sc-canvas-PageChooser-pages li {
   display: block;
   cursor: pointer;
   padding: 2px
}
.sc-canvas-PageChooser-pages li:hover {
   text-decoration: underline
}
.sc-canvas-PageChooser-pages .sc-canvas-PageChooser-currentPage {
   font-style: italic
}
.sc-CanvasViewer-popup {
   position: absolute;
   z-index: 100000;
   padding: 5px;
   background-color: rgba(255,255,255,0.95);
   border: 1px solid gray
}
.sc-CanvasViewer-popup .sc-CanvasViewer-popup-calloutArrow {
   position: absolute;
   top: -16px;
   width: 16px;
   height: 16px;
   background-color: transparent;
   background: url("../../img/icons-16x16-sprite.png") -784px 0 no-repeat
}