/* General ATB styles  */

@import ("../normalize.css");

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    height: 100%;
}


.popoutViewport {
	float: none;
	height: 570px;
	width: 476px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 4px;
	margin-left: 40px;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 15px #1F1F1F;
	-webkit-box-shadow: 10px 10px 15px #1F1F1F;
	box-shadow:10px 10px 15px #1F1F1F;
}

.popoutContainer {
    float: none;
    /*position:relative;*/
	width: auto;
}
.popoutContainer .vpheader2 {
    margin-left: 40px;
}

.modal-dialog {
    border-style: none;
    color: #e1e8ed;
    z-index: 10000;
}

.modal-dialog-content {
    color: black;
}

.basic-popup {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.atb-linkCreationControls {
    padding: 10px;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    
    background-color: rgba(87,87,87,0.5);
}