@import url(../goog/custombutton.css);
/* Editor Styles - Custom editor buttons and menu features */

.atb-editor-button-save,
.atb-editor-button-annotate,
.atb-editor-button-properties {
    background-image: url(../../img/icons-16x16-sprite.png);
    height: 16px;
    width: 16px;    
}

.atb-editor-button-save {
    background-position: -624px 0; 
}

.atb-editor-button-annotate {
    background-position: -640px 0;
}

.atb-editor-button-delete-annotation {
    background: url("../../img/icons-24x24-sprite.png") repeat scroll -336px 0 transparent;
    height: 24px;
    width: 24px;
}

#delete-annotation {
    float: right;
    left: -1px;
    position: relative;
    top: -4px;
}

.atb-editor-button-properties {
    background-position: -768px 0;
}

.atb-Editor-propertiesPane {
    z-index: 1000;
    background-color: #c9d4dd;
    width: 100%;
    position: absolute;
    top: 37px;
    left: 0;
}

.atb-Editor-propertiesPane-Title {
    font-size: 1.25em;
    padding: 5px;
}

.atb-Editor-propertiesPane-property {
    padding: 10px;
}

.atb-Editor-propertiesPane-doneHolder {
    width: auto;
    text-align: right;
    font-size: 12px;
    padding: 6px;
}