/* Panel Container Styles */

.atb-panelcontainer-inner {
	/* position: absolute; */
}

.atb-panelcontainer-inner-when-toolbar-visible {
	left: 36px;
	top: 0;
}

.atb-panelcontainer-inner-when-toolbar-not-visible {
	left: 0;
	top: 0;
}

.atb-panelcontainer-outer {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

/* button default */
.atb-panelcontainer-button {
    height: 24px;
    width: 24px;
    background: url(../../img/icons-24x24-sprite.png) no-repeat;
}

.atb-panelcontainer-button-back {
    background-position: 0 0;
}

.atb-panelcontainer-button-forward {
    background-position: -24px 0;
}

.atb-panelcontainer-button-resourcelistviewer {
    background-position: -48px 0;
}

.atb-panelcontainer-button-markereditor {
    background-position: -72px 0;
}

.atb-panelcontainer-button-texteditor {
    background-position: -96px 0;    
}

.atb-panelcontainer-timeline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90000;
}

.atb-panelcontainer-button-rdfbrowser {
    background-position: -624px 0;
}