/* Radial Menu Styles */

.atb-radialmenu-container {
	position: absolute;
	text-align: center;
    z-index: 1000;
}

.atb-radialmenu-item {
	color: #234;
}

/* button default */
.atb-radialmenu-button {
    width: 16px;
    height: 16px;
    background: url("../../img/icons-16x16-sprite.png") no-repeat;
}

.atb-radialmenu-button-new-text-anno {
    background-position: -656px 0;
}

.atb-radialmenu-button-show-linked-annos {
    background-position: -720px 0;
}

.atb-radialmenu-button-create-link {
    background-position: -848px 0;    
}

.atb-radialmenu-button-delete {
    background-position: -704px 0;
}

.atb-radialmenu-button-info {
    background-position: -832px 0;
}

.atb-radialmenu-button-hide-marker {
    background-position: -816px 0;
}