.atb-ViewerThumbnail {
    width: 150px;
    height: 150px;
    position: relative;
    
    text-align: center;
    
    background-color: rgb(250, 250, 250);
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
    -moz-box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.4);
    -webkit-box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.4);
    box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.4);
}

.atb-ViewerThumbnail-titleParent {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 144px;
    max-height: 140px;
    overflow-y: hidden;
    padding: 3px;
    
    background-color: rgba(20, 20, 20, 0.4);
    
    background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(50, 50, 50, 0.9)),
    to(rgba(0, 0, 0, 0.4))
    );
    
    background-image: -moz-linear-gradient(
    top,
    rgba(50, 50, 50, 0.9) 5%, rgba(0, 0, 0, 0.4) 95%
    );
    
    background-image: -o-linear-gradient(
    top,
    rgba(50, 50, 50, 0.9) 5%, rgba(0, 0, 0, 0.4) 95%
    );
    
    
    background-image: gradient(
    top,
    rgba(50, 50, 50, 0.9) 5%, rgba(0, 0, 0, 0.4) 95%
    );
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.atb-ViewerThumbnail-title {
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    text-align: left;
    
    position: relative;
    width: auto; /*Need to get this to minimum width for text display*/
    margin-left: auto;
    margin-right: auto;
}

.atb-ViewerThumbnail-title-hover {
    
}

.atb-TextThumbnail {
    background-image: url("../../img/Text-Document-Icon-150x150.png");
    background-repeat: no-repeat;
}

.atb-ui-ViewerThumbnailTimeline-glassPane {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    z-index: 50000;
}

.atb-ui-ViewerThumbnailTimeline {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    
    z-index: 50000;
}

.atb-ui-ViewerThumbnailTimeline-background {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    
    background-color: rgba(20, 20, 20, 0.9);
    
    -moz-box-shadow: 0 0 50px 50px rgba(20, 20, 20, 0.9);
    -webkit-box-shadow: 0 0 50px 50px rgba(20, 20, 20, 0.9);
    box-shadow: 0 0 50px 50px rgba(20, 20, 20, 0.9);
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    z-index: 49999;
}
.atb-ui-ViewerThumbnailTimeline-backgroundShown {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    /*
    -moz-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    -webkit-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    -o-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;*/
}
.atb-ui-ViewerThumbnailTimeline-backgroundHidden {/*
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    -moz-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    -webkit-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    -o-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;*/
}

.atb-ui-ViewerThumbnailTimeline-tableDiv {
    overflow-x: hidden;
    position: relative;
    margin: 0;
}

.atb-ui-ViewerThumbnailTimeline-table {
    border: none;
    margin-left: auto;
    margin-right: 0;
}

.atb-ui-ViewerThumbnailTimeline-table td {
    border: none;
    padding: 15px;
    position: relative;
    top: 0;
    left: 0;
}

.atb-PanelLayoutThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 100;
    width: 150px;
    height: 150px;
}

.atb-PanelLayoutThumbnail-panel {
    position: absolute;
    
    background-color: rgba(255, 255, 255, 0.5);
    
    border: 2px solid rgba(100, 100, 100, 0.7);
    
    -moz-transition: background 0.5s, border 0.5s;
    -webkit-transition: background 0.5s, border 0.5s;
    -o-transition: background 0.5s, border 0.5s;
    transition: background 0.5s, border 0.5s;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.atb-PanelLayoutThumbnail-panel-hover {
    cursor: pointer;
    
    background-color: rgba(255, 255, 255, 0.95);
    
    border: 2px solid rgba(100, 100, 100, 0.95);
    
    -moz-transition: background 0.5s, border 0.5s;
    -webkit-transition: background 0.5s, border 0.5s;
    -o-transition: background 0.5s, border 0.5s;
    transition: background 0.5s, border 0.5s;
}

.atb-PanelLayoutThumbnail-left {
    width: 50px;
    height: 75px;
    
    top: 37px;
    left: 21px;
}

.atb-PanelLayoutThumbnail-right {
    width: 50px;
    height: 75px;
    
    top: 37px;
    right: 21px;
}

.atb-PanelLayoutThumbnail-closeButton {
    position: absolute;
    background: url("../../img/icons-16x16-sprite.png") -800px 0 no-repeat;
    width: 16px;
    height: 16px;
    
    bottom: 0;
    right: 0;
}

.atb-ui-ViewerThumbnailTimeline-leftScrollButton {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 36px;
    height: 36px;
    background: url("../../img/icons-36x36-sprite.png") -252px 0 no-repeat;
}

.atb-ui-ViewerThumbnailTimeline-rightScrollButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    background: url("../../img/icons-36x36-sprite.png") -288px 0 no-repeat;
}