/* Radial Menu Styles */

.atb-radialmenu-container {
	position: absolute;
	text-align: center;
    z-index: 1000;
}

.atb-radialmenu-item {
	color: #234;
}

/* button default */
.atb-radialmenu-button {
    width: 16px;
    height: 16px;
}

.atb-radialmenu-button-new-text-anno {
    background: url("../../img/icons-16x16-sprite.png") no-repeat;
    background-position: -656px 0;
}

.atb-radialmenu-button-show-linked-annos {
    background: url("../../img/icons-16x16-sprite.png") no-repeat;
    background-position: -720px 0;
}

.atb-radialmenu-button-create-link {
    background: url("../../img/glyphicons_050_link.png"); 
}

.atb-radialmenu-button-delete {
    background: url("../../img/icons-16x16-sprite.png") no-repeat;
    background-position: -704px 0;
}

.atb-radialmenu-button-info {
    background: url("../../img/icons-16x16-sprite.png") no-repeat;
    background-position: -832px 0;
}

.atb-radialmenu-button-hide-marker {
    background: url("../../img/icons-16x16-sprite.png") no-repeat;
    background-position: -816px 0;
}