.atb-verticaltoolbar {
    cursor: default;
    outline: none;
    padding: 0 2px 0 1px;
    position: relative;
    margin: 0;
    display: none;
}

.atb-verticaltoolbar, .atb-verticaltoolbar .goog-container-vertical {
    width: 36px;
}

.atb-verticaltoolbar-wrapper-left, .atb-verticaltoolbar-wrapper-right {
    position: absolute;
    top: 0;
}
.atb-verticaltoolbar-wrapper-left {
    left: 0;
}

.atb-verticaltoolbar-wrapper-right {
    right: 0;
}

.atb-verticaltoolbar-hint {
    display: block;
    height: 36px;
    width: 10px;
    background: #FAFAFA;
    line-height: 38px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #333;
    margin: 0 2px;
    position: absolute;
    top: -1px;
}

.atb-verticaltoolbar .goog-container-vertical {
    background: #FAFAFA url(../../img/toolbar-bg-vert.png) bottom right repeat-y;
    border: 1px solid #333;
    position: absolute;
    top: -1px;
}

.atb-verticaltoolbar-wrapper-left .atb-verticaltoolbar-hint {
    right: -1px;
}

.atb-verticaltoolbar-wrapper-right .atb-verticaltoolbar-hint {
    left: -1px;
}

.atb-verticaltoolbar-wrapper-left .goog-container-vertical {
    border-right: 0;
    left: -37px;
}

.atb-verticaltoolbar-wrapper-right .goog-container-vertical {
    border-left: 0;
    right: -37px;
}