.atb-viewer-documentIcon {
    background: url("../../img/icons-24x24-sprite.png") no-repeat scroll -384px 0 transparent;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 15px;
    top: 65px;
    z-index: 1000;
    
    -moz-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.atb-viewer-documentIconHighlight {
    /*background-position: -576px 0;*/
    
    -moz-box-shadow: 0 0 5px 5px #C3DDFD;
    -webkit-box-shadow: 0 0 5px 5px #C3DDFD;
    box-shadow: 0 0 5px 5px #C3DDFD;
    
    -moz-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.atb-viewer-documentIcon-noScrollbars {
    right: 5px;
}

.atb-hoverMenu {
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    
    z-index: 100000;
}

.atb-hoverMenu .goog-toolbar {
    min-height: 16px;
}

.atb-hoverMenu-closeButton {
    background: url("../../img/icons-16x16-sprite.png") -800px 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
}

.atb-hoverMenu-calloutTriangle {
    z-index: -1;

    width: 16px;
    height: 16px;
    position: absolute;
    
    background-color: transparent;
    background: url("../../img/icons-16x16-sprite.png") -784px 0 no-repeat;
}